<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="#inicio">

            <img
                src="../../../assets/images/logo45x45.png"
                alt="Golfinho Sabro"
                class="logo-sabro">

            <div class="logo-text">
                <span class="logo-title">S A B R O</span>
                <span class="logo-subtitle">DEV WEB & BACKEND</span>
            </div>

        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Abrir menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link" href="#inicio">
                        Início
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#servicos">
                        Serviços
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#tecnologias">
                        Tecnologias
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">
                        Projetos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        Sobre
                    </a>
                </li>

                <li class="nav-item ms-lg-3">
                    <a class="btn-nav-contato" href="#contato">
                        ✉ Fale comigo
                    </a>
                </li>

            </ul>

        </div>

    </div>
</nav>