.text-muted{
    font-size: 55%;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.logo{
    align-content: space-evenly;
    padding: 0;
}
.logo p{
    margin: 0;
}
#mainNav{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
}