<!-- Header-->
<header class="stl-home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-white hero-text">
                <h1>Olá, eu sou <span class="text-info">Sabro</span></h1>
                <h3>Desenvolvedor Web & Backend</h3>
                <p>
                    Crio aplicações web acessíveis, APIs e soluções digitais
                    com foco em performance e inclusão.
                </p>
                <a href="#portfolio" class="btn btn-info btn-lg">
                    Ver Projetos
                </a>
                <a href="#contato" class="btn btn-outline-info btn-lg">
                    Entrar em Contato
                </a>
            </div>
            <div class="col-lg-6 text-center">
                <img
                    src="assets/images/golfinhohead.png"
                    class="img-fluid hero-img"
                    alt="Golfinho">
            </div>
        </div>
    </div>
</header>
<!-- About section-->
<section id="sobre">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Sobre mim</h2>
                <p class="lh-lg">Desenvolver atividades voltadas a funções tecnológicas ou de Informática.
                Sou um profissional proativo e apaixonado por tecnologia, com experiência em diversas funções na área de Informática. Meu objetivo é contribuir com minhas habilidades técnicas e meu conhecimento em desenvolvimento de soluções tecnológicas para a equipe. Estou pronto para enfrentar novos desafios e colaborar para o crescimento e inovação do time, sempre buscando aprendizado contínuo e excelência.</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfólio section-->
<section class="bg-light" id="portfolio">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Portfólio</h2>
                <dl class="row">
                    <dt class="col-sm-3">Conte:</dt>
                    <dd class="col-sm-9">
                        <p><i>"Voluntário"</i></p>
                        Nossa equipe, composta por mim, João, Fernando, Fernando e Heron, está criando um projeto web chamado Fesai. Estamos desenvolvendo o site utilizando Angular, Bootstrap, AWS (Amplify, DynamoDB) e GitHub.
                    </dd>
                    <dt class="col-sm-3">Link:</dt>
                    <dd class="col-sm-9">
                        <a href="fesai"><p>www.fesai.com.br</p>
                            <img src="assets/images/logo_fesai.svg" alt="Fesai"></a>
                    </dd>
                </dl>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">Conte:</dt>
                    <dd class="col-sm-9">
                        <p>API via Google Planilhas</p>
                        <p>Desenvolvi uma solução leve e prática para quem precisa acessar dados via API sem complicações.</p>
                        <p>Utilizando o Google Planilhas como base de dados, não é necessário servidor, hospedagem ou banco de dados.</p>
                        <p>Os dados são atualizados diretamente na planilha, e a API responde de forma rápida e simples — ideal para protótipos, projetos pessoais ou integrações leves.</p>
                    </dd>
                    <dt class="col-sm-3">Link:</dt>
                    <dd class="col-sm-9">
                        <a href="celulares"><p>Criando uma API com Google Sheets</p></a>
                    </dd>
                </dl>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">Conte:</dt>
                    <dd class="col-sm-9">
                        <p><i>Voluntário Equipe Brutus Race Deafs</i></p>
                        Apoiei o evento Brutus Race Deafs como voluntário, criando uma ferramenta online que substituiu o processo manual e melhorou a organização dos dados de 250 participantes.
                    </dd>
                    <dt class="col-sm-3">Link:</dt>
                    <dd class="col-sm-9">
                        <a href="brd"><p>brd.sabro.dev.br</p>
                            <img src="assets/images/brd.png" alt="BRD">
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<!-- Contato section-->
<section id="contato">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contato</h2>
                <dl class="row">
                    <dt class="col-sm-3"><img src="assets/images/ico-email.svg" alt="Gmail"> Email:</dt>
                    <dd class="col-sm-9">
                        rsabro&#64;gmail.com
                    </dd>
                    <dt class="col-sm-3"><img src="assets/images/ico-whatsapp.svg" alt="Whatsapp"> Whatsapp:</dt>
                    <dd class="col-sm-9">
                        11 9 4488 5577 (só mensagem)
                    </dd>
                    <dt class="col-sm-3">Versão:</dt>
                    <dd class="col-sm-9">
                        0.1.1
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
