<!-- Header-->
<header class="bg-primary bg-gradient text-white stl-home">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Perfil Rodrigo Sabro - Surdo</h1>
        <p class="lead">COD DEVELOPER</p>
        <p><figure class="figure">
          <img class="figure-img img-fluid rounded" src="assets/images/newCodGolfinho.svg">
          <figcaption class="figure-caption">A imagem de um desenho de Golfinhos é a minha favorita.</figcaption>
        </figure></p>
        <a class="btn btn-lg btn-light" href="#sobre">Comece a rolar!</a>
    </div>
</header>
<!-- About section-->
<section id="sobre">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Sobre mim</h2>
                <p class="lh-lg">Desenvolver atividades voltadas a funções tecnológicas ou de Informática.
                Sou um profissional proativo e apaixonado por tecnologia, com experiência em diversas funções na área de Informática. Meu objetivo é contribuir com minhas habilidades técnicas e meu conhecimento em desenvolvimento de soluções tecnológicas para a equipe. Estou pronto para enfrentar novos desafios e colaborar para o crescimento e inovação do time, sempre buscando aprendizado contínuo e excelência.</p>
            </div>
        </div>
    </div>
</section>
<!-- Detalhes section-->
<section class="bg-light" id="detalhes">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Portfólio</h2>
                <dl class="row">
                    <dt class="col-sm-3">Link:</dt>
                    <dd class="col-sm-9">
                        <a href="fesai">Fesai-SP</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section id="contact">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contato</h2>
                <p class="lead">Email: rsabro@gmail.com</p>
                <p class="lead">Whatsapp: 11 9 4488 5577</p>
            </div>
        </div>
    </div>
</section>
