<header class="bg-primary bg-gradient text-white stl-home">
    <div class="container px-4 text-center">
        <p><img class="figure-img img-fluid rounded" src="assets/images/newCodGolfinho.svg"></p>
    </div>
</header>
<section id="sobre">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <p>Fesai - Fórum Estudos Surdos na Área de Informática</p>
                <p><img src="../../../assets/images/sitefesai.PNG" width="55%" ></p>
            </div>
        </div>
    </div>
</section>
